<!-- This is a basic HTML template that defines the structure of a web page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- The head section contains the meta information and the title of the page -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Overviewer</title>
</head>
<body>
    <!-- The body section contains the visible content of the page -->
    <h1>Tasks</h1>
    
    {% block content %}
        {% for t in context.all_tasks %}
            {{t.title}}
        {% endfor %}
    {% endblock content %}

</body>
</html>
